* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
}
.mostar-amigos {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.mostar-amigos > img {
  border-radius: 15px;
  box-shadow: 0 0 20px #fff;
}
button {
  margin: 30px;
  font-size: 1.5rem;
  padding: 25px;
  border-radius: 10px;
  background-color: blue;
  color: #fff;
  cursor: pointer;
  transition: all 2s linear;
}
button:hover {
  scale: 0.9;
  background-color: lightblue;
  color: rgba(0, 0, 0, 0.7);
}
